*.pyc
*.pyo
__pycache__
/buildozer/bin
/buildozer/.buildozer
/sources/qemu*
/sources/boost*
/sources/libsodium*
/sources/libtorrent*
/sources/openssl*
/sources/perl*
/sources/python*
/sources/Python*
/sources/libffi*
/sources/cryptography*
/sources/sqlite*
